@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as vars;

@mixin badge($color) {
        background-color: $color;
        border: none;
        border-radius: 5%;
        padding: 4px 8px;
        font-weight: 600;
        text-align: center;
        font-size:  .8rem;
        line-height: .9rem;
        margin: .1rem;
        color: #fbfbfb;
}
@mixin btn($color) {
        background-color: $color;
        border: none;
        margin: .1rem;
        padding: 7px 13px;
        border-radius: 5%;
        color: #fbfbfb;
        transition: background-color .2s;
        &:hover{
            background-color: mix(#656565, $color, 50%);
        }
}
@mixin layout-btn($color) {
        border-radius: 100%;
        background-color: $color;
        border: none;
        margin: .1rem;
        padding: 7px 13px;
        transition: background-color .2s;
        width: vars.$layout-btn-size;
        height: vars.$layout-btn-size;
        @include mixins.center;
        img{
            width: 100%;
            height: 80%;
        }
        &:hover{
            background-color: mix(#656565, $color, 50%);
        }
}
@mixin orderedItem($bgColor, $fnColor ) {
        background-color: $bgColor;
        border-radius: .6rem;
        padding: 1.5rem;
        color: $fnColor;
        height: 2.5rem;
        margin-top: 5px;
        img{
            width: 2.5rem;
            margin-right: 15px;
        }
        span{
                color: $fnColor;
        }
}