.btn-primary {
  background-color: rgb(71, 157, 255);
  border: none;
  margin: 0.1rem;
  padding: 7px 13px;
  border-radius: 5%;
  color: #fbfbfb;
  transition: background-color 0.2s;
}
.btn-primary:hover {
  background-color: #5681b2;
}

.btn-secondary {
  background-color: rgb(203, 203, 203);
  border: none;
  margin: 0.1rem;
  padding: 7px 13px;
  border-radius: 5%;
  color: #fbfbfb;
  transition: background-color 0.2s;
}
.btn-secondary:hover {
  background-color: #989898;
}

.btn-success {
  background-color: rgb(15, 172, 9);
  border: none;
  margin: 0.1rem;
  padding: 7px 13px;
  border-radius: 5%;
  color: #fbfbfb;
  transition: background-color 0.2s;
}
.btn-success:hover {
  background-color: #3a8937;
}

.btn-danger {
  background-color: rgb(224, 6, 6);
  border: none;
  margin: 0.1rem;
  padding: 7px 13px;
  border-radius: 5%;
  color: #fbfbfb;
  transition: background-color 0.2s;
}
.btn-danger:hover {
  background-color: #a33636;
}

.btn-warning {
  background-color: rgb(225, 195, 26);
  border: none;
  margin: 0.1rem;
  padding: 7px 13px;
  border-radius: 5%;
  color: #fbfbfb;
  transition: background-color 0.2s;
}
.btn-warning:hover {
  background-color: #a39440;
}

.btn-info {
  background-color: rgb(119, 214, 231);
  border: none;
  margin: 0.1rem;
  padding: 7px 13px;
  border-radius: 5%;
  color: #fbfbfb;
  transition: background-color 0.2s;
}
.btn-info:hover {
  background-color: #6e9ea6;
}

.btn-light {
  background-color: rgb(245, 245, 245);
  border: none;
  margin: 0.1rem;
  padding: 7px 13px;
  border-radius: 5%;
  color: #fbfbfb;
  transition: background-color 0.2s;
}
.btn-light:hover {
  background-color: #adadad;
}

.btn-dark {
  background-color: rgb(31, 31, 31);
  border: none;
  margin: 0.1rem;
  padding: 7px 13px;
  border-radius: 5%;
  color: #fbfbfb;
  transition: background-color 0.2s;
}
.btn-dark:hover {
  background-color: #424242;
}

.cart-btn-div .cart-item-counter {
  background-color: rgb(224, 6, 6);
  width: 30px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  color: rgb(245, 245, 245);
  font-size: 1.2rem;
  font-weight: 300;
  z-index: 1;
}
.cart-btn-div .cart-btn {
  border-radius: 100%;
  background-color: rgb(71, 157, 255);
  border: none;
  margin: 0.1rem;
  padding: 7px 13px;
  transition: background-color 0.2s;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-btn-div .cart-btn img {
  width: 100%;
  height: 80%;
}
.cart-btn-div .cart-btn:hover {
  background-color: #5681b2;
}

.ordered-items-btn {
  border-radius: 100%;
  background-color: rgb(71, 157, 255);
  border: none;
  margin: 0.1rem;
  padding: 7px 13px;
  transition: background-color 0.2s;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ordered-items-btn img {
  width: 100%;
  height: 80%;
}
.ordered-items-btn:hover {
  background-color: #5681b2;
}

.show-item .show-item-header-content {
  display: flex;
  width: 30rem;
  justify-content: space-between;
  align-items: center;
}
.show-item .show-item-header-content .show-item-header-span {
  margin-right: 1rem;
}
.show-item .show-item-body {
  text-align: center;
}
.show-item .show-item-body img {
  width: 80%;
}
.show-item .show-item-body button {
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
}

.ordered-item {
  height: 2.5rem;
  margin-top: 5px;
}
.ordered-item img {
  width: 2.5rem;
  margin-right: 15px;
}/*# sourceMappingURL=styles.css.map */