.active_cart {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border: none;
}
footer{
  margin-top: 8rem;
  text-align: center;
  background: #171a1a;
  color: rgb(240, 240, 240);
  padding: 2rem 0rem;
}
footer .qrcode{
  -webkit-filter: invert(1);
   filter: invert(1);
}
@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@keyframes smooth {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
}
