button {
  background-color: rgb(2, 188, 202);
  border: none;
  padding: 5px 15px;
  color: white;
  margin: 5px;
  border-radius: 5px;
  transition: all .3s ease;
  &:hover{
    transform: scale(1.08);
  }
}
.danger-btn {
  background-color: red;
}
.layout-btn {
  width: 90px;
  background-color: rgb(84, 197, 200);
img{
  width: 100%;
}
}
.logo{
  font-family: "OnsenJapan", Tahoma, Geneva, Verdana, sans-serif;
  color: #d7260e;
  font-size: 1.4rem;
  margin-top: 15px;
  span{
    @media screen and (max-width: 800px) {
  display: none;
    }
  }

}
.cart-item-counter {
  background-color: #d7260e;
  transform: translateX(20px);
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: white;
  &hover {
    color: white;
  }
}
footer {
  margin-top: 8rem;
  text-align: center;
  background: #171a1a;
  color: rgb(240, 240, 240);
  padding: 2rem 0rem;
}
footer .qrcode {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.reset-demo-btn{
  position: fixed ;
  left: 0;
  bottom: 0;
  border-radius: 0px 10px 0px 0px;
  background-color: #ac6400;
  border-radius: none;
  padding: 8px 30px;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}
@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@keyframes smooth {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
}


@font-face {
  font-family: "OnsenJapan";
  src: url("../public/OnsenJapanDemoRegular.ttf");
}